.hidden {
    display: none;
}

.modal {
    width: 30%;
    height: 40vh;
    background-color: var(--light-beige);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 40%;
    font-size: 1.2rem;
    padding: 0.2rem;

}

.close {
    width: 10%;
    margin-left: 25vw;
    margin-top: 1vh;
    position: absolute;
    font-size: 2rem;
    background-color: var(--beige);
    color: var(--dark-blue);
    border-style: none;
    cursor: pointer;
}

.modal p {
    font-weight: 700;
}

.email {
    font-weight: 200;
}

#email {
    width: 80%;
    height: 6vh;
}