main {
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content:flex-end;
    gap: 20vw;
    margin: 5vh auto 5vh auto;
}

.text-1 {
    width: 30%;
    position: absolute;
    left: 10vw;
}

.text-1-header {
    color: var(--dark-blue);
    font-size: 2.7rem;
    margin-bottom: 8vh;
}

.text-1 span {
    font-weight: 600;
}

.text-1-content {
    width: 70%;
    font-size: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
    margin-bottom: 8vh;
}

.btn-2 {
    background-color: var(--dark-blue);
    color: var(--white);
    border-style: none;
}

.image {
    max-width: 60%;
    max-height: 70vh;
}

.image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.text-2 {
    width: 20%;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.text-2 h3 {
    font-size: 1.8rem;
}

.text-2 p {
    font-size: 1rem;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    main {
        width: 100%;
        gap: 10vw;
    }

    .text-1-header {
        font-size: 2rem;
        margin-bottom: 5vh;
    }

    .text-2 h3 {
        font-size: 1.5rem;
    }

    .text-2 p {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}
