@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: rgb(9, 10, 37);
    --grey: rgba(118, 118, 128, 0.925);
    --beige: rgb(248, 243, 220);
    --light-beige: rgba(248, 243, 220, 0.925);
    --white: rgb(253, 253, 255);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
}

.btn {
    font-size: 0.8rem;
    font-weight: 600;
    width: 12vw;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
}

.nav-bar {
    width: 100%;
    height: 15vh;
    display: flex;
}

.logo {
    font-size: 1.8rem;
    font-weight: 800;  
    color: var(--dark-blue);  
    cursor: pointer;
}

.logo-top {
    margin: 2vh auto auto 10vw;
}

.btn-1 {
    color: var(--dark-blue);
    background-color: var(--white);
    border-color: var(--dark-blue);
    border-width: 1.5px;
    margin: 4vh 15vw auto auto;
}

@media (max-width: 1024px) {

    .btn {
        font-size: 0.8rem;
    }
    
}

@media (max-width: 820px) {
    .logo-top {
        margin: 2rem;
        font-size: 2.5rem;
    }

    .btn-1 {
        width: 30%;
        margin: 2rem 10rem auto auto;
        font-size: 1.2rem;
    }
}


@media (max-width: 768px) {
    .logo-top {
        margin: 2rem;
        font-size: 2rem;
    }

    .btn-1 {
        margin: 2rem 4rem 2rem auto;
        width: 30%;
        height: 7vh;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .btn-1 {
        font-size: 0.6rem;
        height: 5vh;
    }
}


